<template>

    <form class="space-y-4" @submit.prevent="submit">
        <div class="flex space-x-4">
            <div class="w-32">Name</div>
            <input type="text" class="input-custom" required v-model="formChild.name">
        </div>
        <div class="flex space-x-4">
            <div class="w-32">Description</div>
            <input type="text" class="input-custom" v-model="formChild.description">
        </div>
        <div class="flex space-x-4">
            <div class="w-32">Quantity</div>
            <input type="text" class="input-custom" v-model="formChild.quantity">
        </div>
        <div class="flex space-x-4">
            <div class="w-32">Price</div>
            <input @input="calculateAdminFee" type="text" class="input-custom" v-model="formChild.price">
        </div>
        <div class="flex space-x-4">
            <div class="w-32">Admin Fee</div>
            <input type="text" class="input-custom" required v-model="formChild.admin_fee">
        </div>
        <button type="submit" class="primary-button">
            {{ productChild ? 'Update' : 'Submit' }}
        </button>
    </form>
</template>

<script>

import { Inertia } from '@inertiajs/inertia';
// import Swal from 'sweetalert2';
export default {


    props: {
        formChild: Object,
        productChild: Object,
    },

    methods: {
        calculateAdminFee() {
            this.formChild.admin_fee = parseFloat(this.formChild.price) * 0.05;  //membuat kondisi untuk auto hitung nilai
        },
        submit() {
            if (this.productChild) {
                Inertia.put("/product/" + this.productChild.id, this.formChild) //kondisi untuk membuat kondisi jika product memiliki data maka aksi yang dilakukan adalah update
            } else {
                Inertia.post("/product", this.formChild); //sebaliknya jika tidak ada data sebelumnya maka aksi yang di lakukan akan submit atau menambah data pada database
            }
        },

        updated() {
            var flash = this.$page.props.flash;
            if (flash?.message)
                Swal.fire({
                    toast: true,
                    position: "top-end",
                    showConfirmButton: false,
                    timer: 3000,
                    timerProgressBar: true,
                    icon: flash.type,
                    title: flash.message,
                });
        },

    },
};
</script>
