
<template>

    <form class="space-y-4" @submit.prevent="submit">


        <div class="grid grid-cols-8 gap-8">
            <div class="col-span-8 sm:col-span-8 mt-5 uppercase text-center">
                <h5>Identitas</h5>
                <hr>
            </div>
            <div class="col-span-8 sm:col-span-8 mt-1">
                <label class="text-sm font-medium uppercase text-gray-700">Nomor KTP</label>
                <input placeholder="Masukan nomor ktp" type="text" v-model="formChild.no_ktp" class=" mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm
                    border-gray-300 rounded-md text-gray-700 bg-white bg-clip-padding border border-solid
                    border-gray-300" maxlength="16" @change="numChange()" />
            </div>
            <div class="col-span-8 sm:col-span-8 mt-5">
                <label class="text-sm font-medium uppercase text-gray-700">Nama Lengkap</label>
                <input placeholder="Masukan nama lengkap" type="text" v-model="formChild.nama_lengkap"
                    class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300" />
            </div>
            <div class="col-span-8 sm:col-span-8 mt-5">
                <label class="text-sm font-medium uppercase text-gray-700">Jenis Kelamin</label>
                <select placeholder="Masukan jenis kelamin" v-model="formChild.jenis_kelamin"
                    class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300">
                    <option value="Laki-laki">Laki-laki</option>
                    <option value="Perempuan">Perempuan</option>
                </select>
            </div>
            <div class="col-span-8 sm:col-span-8 mt-5">
                <label class="text-sm font-medium uppercase text-gray-700">Tempat Lahir</label>
                <input placeholder="Masukan tempat lahir" type="text" v-model="formChild.tempat_lahir"
                    class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300" />
            </div>
            <div class="col-span-8 sm:col-span-8 mt-5">
                <label class="text-sm font-medium uppercase text-gray-700">tanggal Lahir</label>
                <input placeholder="Masukan tempat lahir" type="date" v-model="formChild.tanggal_lahir"
                    class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300" />
            </div>

            <div class="col-span-8 sm:col-span-8 mt-5">
                <label class="text-sm font-medium uppercase text-gray-700">Status Pernikahan</label>
                <select placeholder="Masukan status pernikahan" type="text" v-model="formChild.status_perkawinan"
                    class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300">
                    <option value="single">Single</option>
                    <option value="Menikah">Menikah</option>
                </select>
            </div>
            <div class="col-span-8 sm:col-span-8 mt-5">
                <label class="text-sm font-medium uppercase text-gray-700">Nomor Handphone</label>
                <input placeholder="Masukan nomor handphone" type="text" v-model="formChild.no_hp"
                    class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300" />
            </div>
            <div class="col-span-8 sm:col-span-8 mt-5">
                <label class="text-sm font-medium uppercase text-gray-700">NPWP</label>
                <input placeholder="Masukan npwp" type="text" v-model="formChild.npwp"
                    class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300" />
            </div>
            <div class="col-span-8 sm:col-span-8 mt-5">
                <label class="text-sm font-medium uppercase text-gray-700">Kewarganegaraan</label>
                <input placeholder="Masukan kewarganegaraan" type="text" v-model="formChild.kewarganegaraan"
                    class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300" />
            </div>
            <div class="col-span-8 sm:col-span-8 mt-5">
                <label class="text-sm font-medium uppercase text-gray-700">Kelas</label>
                <select placeholder="Masukan kelas" type="text" v-model="formChild.kelas" class=" mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm
                    border-gray-300 rounded-md text-gray-700 bg-white bg-clip-padding border border-solid
                    border-gray-300">
                    <option value="1">Kelas 1</option>
                    <option value="2">Kelas 2</option>
                    <option value="3">Kelas 3</option>
                </select>
            </div>
            <div class="col-span-8 sm:col-span-8 mt-5">
                <label class="text-sm font-medium uppercase text-gray-700">Email</label>
                <input placeholder="Masukan email" type="email" v-model="formChild.email" class=" mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm
                    border-gray-300 rounded-md text-gray-700 bg-white bg-clip-padding border border-solid
                    border-gray-300" />
            </div>

            <div class="col-span-8 sm:col-span-8 mt-5 uppercase text-center">
                <h5>Alamat</h5>
                <hr>
            </div>

            <div class="col-span-8 sm:col-span-8 mt-1">
                <label class="text-sm font-medium uppercase text-gray-700">alamat</label>
                <input placeholder="Masukan alamat" type="text" v-model="formChild.alamat" class=" mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm
                    border-gray-300 rounded-md text-gray-700 bg-white bg-clip-padding border border-solid
                    border-gray-300" />
            </div>
            <div class="col-span-4 sm:col-span-4 mt-5">
                <label class="text-sm font-medium uppercase text-gray-700">rt</label>
                <input placeholder="Masukan rt" type="text" v-model="formChild.rt" class=" mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm
                    border-gray-300 rounded-md text-gray-700 bg-white bg-clip-padding border border-solid
                    border-gray-300" />
            </div>
            <div class="col-span-4 sm:col-span-4 mt-5">
                <label class="text-sm font-medium uppercase text-gray-700">rw</label>
                <input placeholder="Masukan rw" type="text" v-model="formChild.rw" class=" mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm
                    border-gray-300 rounded-md text-gray-700 bg-white bg-clip-padding border border-solid
                    border-gray-300" />
            </div>
            <div class="col-span-8 sm:col-span-8 mt-5">
                <label class="text-sm font-medium uppercase text-gray-700">kode pos</label>
                <input placeholder="Masukan kode pos" type="text" v-model="formChild.kode_pos" class=" mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm
                    border-gray-300 rounded-md text-gray-700 bg-white bg-clip-padding border border-solid
                    border-gray-300" />
            </div>
            <div class="col-span-8 sm:col-span-8 mt-5">
                <label class="text-sm font-medium uppercase text-gray-700">no. telp rumah</label>
                <input placeholder="Masukan no. telp rumah" type="text" v-model="formChild.no_tlp_rumah" class=" mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm
                    border-gray-300 rounded-md text-gray-700 bg-white bg-clip-padding border border-solid
                    border-gray-300" />
            </div>
            <div class="col-span-8 sm:col-span-8 mt-5">
                <label class="text-sm font-medium uppercase text-gray-700">kelurahan / desa</label>
                <input placeholder="Masukan kelurahan/desa" type="text" v-model="formChild.kelurahan" class=" mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm
                    border-gray-300 rounded-md text-gray-700 bg-white bg-clip-padding border border-solid
                    border-gray-300" />
            </div>
            <div class="col-span-8 sm:col-span-8 mt-5">
                <label class="text-sm font-medium uppercase text-gray-700">nomor kartu
                    keluarga</label>
                <input placeholder="Masukan nomor kartu" type="text" v-model="formChild.no_kk" class=" mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm
                    border-gray-300 rounded-md text-gray-700 bg-white bg-clip-padding border border-solid
                    border-gray-300" />
            </div>

            <div class="col-span-8 sm:col-span-8 mt-5 uppercase text-center">
                <h5>tambahan</h5>
                <hr>
            </div>



            <div class="col-span-8 sm:col-span-8 mt-1">
                <label class="text-sm font-medium uppercase text-gray-700">status dalam keluarga</label>
                <select placeholder="Masukan status dalam keluarga" class=" mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm
                    border-gray-300 rounded-md text-gray-700 bg-white bg-clip-padding border border-solid
                    border-gray-300" v-model="formChild.status_dlm_keluarga" @change="stsChange()">
                    <option value="1">Kepala Rumah Tangga</option>
                    <option value="2">Ibu Rumah Tangga</option>
                    <option value="3">Seorang Diri</option>

                </select>
            </div>
            <div class="col-span-8 sm:col-span-8 mt-5">
                <label class="text-sm font-medium uppercase text-gray-700">jumlah anak</label>
                <select placeholder="Masukan jumlah anak" v-model="formChild.jumlah_anak"
                    :disabled="isDisabled.jumlah_anak" class=" mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm
                    border-gray-300 rounded-md text-gray-700 bg-white bg-clip-padding border border-solid
                    border-gray-300">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>

                </select>
            </div>

            <div class="col-span-8 sm:col-span-8 mt-5">
                <label class="text-sm font-medium uppercase text-gray-700">rekening</label>
                <input placeholder="Masukan rekening" type="text" v-model="formChild.rekening" class=" mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm
                    border-gray-300 rounded-md text-gray-700 bg-white bg-clip-padding border border-solid
                    border-gray-300" />
            </div>
            <div class="col-span-8 sm:col-span-8 mt-5">
                <label class="text-sm font-medium uppercase text-gray-700">no. rekening</label>
                <input placeholder="Masukan no. rekening" type="text" v-model="formChild.nomor_rek" class=" mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm
                    border-gray-300 rounded-md text-gray-700 bg-white bg-clip-padding border border-solid
                    border-gray-300" />
            </div>
            <div class="col-span-8 sm:col-span-8 mt-5">
                <label class="text-sm font-medium uppercase text-gray-700">nama pemilik rekening</label>
                <input placeholder="Masukan nama pemilik rekening" type="text" v-model="formChild.nama_rek" class=" mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm
                    border-gray-300 rounded-md text-gray-700 bg-white bg-clip-padding border border-solid
                    border-gray-300" />
            </div>

            <div class="col-span-8 sm:col-span-8 mt-5">

                <button type="submit" class="primary-button w-16">
                    {{ askesChild ? 'Update' : 'Submit' }}
                </button>
            </div>
        </div>

    </form>
</template>


<script>

import { Head } from "@inertiajs/inertia-vue3";
import { Inertia } from '@inertiajs/inertia';
export default {
    components: {
        Head,
        Inertia,
    },
    props: {
        formChild: Object,
        askesChild: Object,
    },
data() {
    return {
        isDisabled: {
            jumlah_anak: false,
        },
        // dataPilih: [],
    }
},
mounted() {

},
    methods: {

        stsChange() {
            if(this.formChild.status_dlm_keluarga == 3) {
                this.isDisabled.jumlah_anak = true;
                this.formChild.jumlah_anak = "0";
            } else if (this.askesChild.status_dlm_keluarga == 3) {
                this.isDisabled.jumlah_anak = true;
                this.askesChild.jumlah_anak = "0";
            } else {
                this.isDisabled.jumlah_anak = false;
            }
        },

        submit() {
            if (this.askesChild) {
                // Inertia.put("/asuransi_kesehatan", this.askesChild.id, this.formChild) //kondisi untuk membuat kondisi jika product memiliki data maka aksi yang dilakukan adalah update
                Inertia.put(route("update", this.askesChild.id), this.formChild)
                // Inertia.put(route("update", this.askesChild.id), this.formChild), {
                //     onSuccess: function(res) {
                //         this.resetForm();
                //         this.formChild = "";
                //         this.askesChild = "";
                //     },
                //     onError: function(errors) {

                //     },
                // }
            } else {
                // console.log(this.formChild)
                Inertia.post("/asuransi_kesehatan", this.formChild), {
                    onSuccess: function (res) {
                        // console.log(res)
                        this.formChild = "";
                    },
                    onError: function (error) {
                        // console.log(error)
                    },

                }; //sebaliknya jika tidak ada data sebelumnya maka aksi yang di lakukan akan submit atau menambah data pada database
            }

        },
        // resetForm() {
        //     _.each(this.formChild, (value, key) => {
        //         this.formChild[key] = "";
        //     });

        //     _.each(this.errors, (value, key) => {
        //         this.errors[key] = null;
        //     });
        // },

        numChange() {
            if (this.formChild.no_ktp.length == 16) {
                Swal.fire({
                    toast: true,
                    position: "top-end",
                    showConfirmButton: false,
                    timer: 3000,
                    timerProgressBar: true,
                    icon: "success",
                    title: "No KTP 16 digit",
                }); //menampilkan alert dari sweatalert
            } else {
                Swal.fire({
                    toast: true,
                    position: "top-end",
                    showConfirmButton: false,
                    timer: 3000,
                    timerProgressBar: true,
                    icon: "error",
                    title: "No KTP kurang dari 16 digit",
                }); //menampilkan alert dari sweatalert
            }
        },
    },
};
</script>


<style>

</style>

