<template>

    <Head title="Dashboard" />

    <BreezeAuthenticatedLayout>
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                {{ askes ? 'Update Asuransi Kesehatan' : 'Submit Asuransi Kesehatan' }}
            </h2>
        </template>

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="bg-white w-1/2 align-items-center m-auto overflow-hidden shadow-sm sm:rounded-lg">
                    <div class="p-6 bg-white border-b border-gray-200">
                        <FormAskes :formChild="form" :askesChild="askes"></formAskes>
                        <!-- <FormAskes></FormAskes> -->
                    </div>
                </div>
            </div>
        </div>

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="bg-white w-full align-items-center m-auto overflow-hidden shadow-sm sm:rounded-lg">
                    <div class="p-6 bg-white relative overflow-x-auto">
                        <table class="table table-responsive min-w-full  border border-gray-400">
                            <thead class="border border-gray-400">
                                <tr>
                                    <th class="text-sm font-medium px-6 py-4 text-center">No</th>
                                    <th class="text-sm font-medium px-6 py-4 text-center">NIK</th>
                                    <th class="text-sm font-medium px-6 py-4 text-center">Nama</th>
                                    <th class="text-sm font-medium px-6 py-4 text-center">Jenis Kelamin</th>
                                    <th class="text-sm font-medium px-6 py-4 text-center">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(data, i) in data" :key="i">
                                    <td class="text-sm font-medium px-6 py-4 text-center">{{++i}}</td>
                                    <td class="text-sm font-medium px-6 py-4 text-center">{{data.no_ktp}}</td>
                                    <td class="text-sm font-medium px-6 py-4 text-center">{{data.nama_lengkap}}</td>
                                    <td class="text-sm font-medium px-6 py-4 text-center">{{data.jenis_kelamin}}</td>
                                    <td class="text-sm font-medium px-6 py-4 text-center">
                                        <ButtonMdBlue type="button" @click="edit(data.id)" v-text="'Edit'" class="mx-2">
                                        </ButtonMdBlue>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>


    </BreezeAuthenticatedLayout>
</template>

<script>
import BreezeAuthenticatedLayout from "@/Layouts/Authenticated.vue";
import { Head } from "@inertiajs/inertia-vue3";
import { Inertia } from "@inertiajs/inertia";
import FormAskes from "../Components/AsuransiKesehatan/Form.vue";
import ButtonMdBlue from "../Components/Button/ButtonMdBlue";
import ButtonMdGreen from "../Components/Button/ButtonMdGreen";
import ButtonMdYellow from "../Components/Button/ButtonMdYellow";
export default {
    components: {
        BreezeAuthenticatedLayout,
        Head,
        FormAskes,
        ButtonMdBlue,
        ButtonMdGreen,
        ButtonMdYellow,
 },

    props: {
        form: Object, askes: Object, data: Object,
    },
    data() {
        return {
            form: {
                no_ktp: this.askes ?.no_ktp, //this.product  ?.name  = tanda tanya berfungsi untuk membuat kondisi jika product  ada atau tidak.
                nama_lengkap: this.askes ?.nama_lengkap,
                jenis_kelamin: this.askes ?.jenis_kelamin,
                tempat_lahir: this.askes ?.tempat_lahir,
                tanggal_lahir: this.askes ?.tanggal_lahir,
                status_perkawinan: this.askes ?.status_perkawinan,
                no_hp: this.askes ?.no_hp,
                npwp: this.askes ?.npwp,
                kewarganegaraan: this.askes ?.kewarganegaraan,
                kelas: this.askes ?.kelas,
                email: this.askes ?.email,
                alamat: this.askes ?.alamat,
                rt: this.askes ?.rt,
                rw: this.askes ?.rw,
                kode_pos: this.askes ?.kode_pos,
                no_tlp_rumah: this.askes ?.no_tlp_rumah,
                kelurahan: this.askes ?.kelurahan,
                no_kk: this.askes ?.no_kk,
                status_dlm_keluarga: this.askes ?.status_dlm_keluarga,
                jumlah_anak: this.askes ?.jumlah_anak,
                rekening: this.askes ?.rekening,
                nomor_rek: this.askes ?.nomor_rek,
                nama_rek: this.askes ?.nama_rek,
            },
        };
    },
    methods: {
        edit($id) {
            Inertia.get(route("editAskes", $id));
        },
    },

};
</script>
