<template>

    <Head title="Dashboard" />

    <BreezeAuthenticatedLayout>
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                Dashboard
            </h2>
        </template>

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-1">
                <div class="bg-white overflow-hidden shadow-sm sm:rounded-lg">
                    <div class="p-6 bg-white border-b border-gray-200">
                        <div class="grid grid-cols-8 gap-8">
                            <div class="col-span-4 sm:col-span-4 mt-5 uppercase text-center">
                                <ButtonMdBlue type="button" @click="linkA()" v-text="'Asuransi Kesehatan'" class="mx-2">
                                </ButtonMdBlue>
                                <ButtonMdBlue type="button" @click="linkB()" v-text="'Product'" class="mx-2">
                                </ButtonMdBlue>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </BreezeAuthenticatedLayout>
</template>

<script>
import BreezeAuthenticatedLayout from "@/Layouts/Authenticated.vue";
import { Head } from "@inertiajs/inertia-vue3";
import { Inertia } from "@inertiajs/inertia";
import ButtonMdBlue from "../Components/Button/ButtonMdBlue";



export default {
    components: { BreezeAuthenticatedLayout, Head, ButtonMdBlue, },

methods: {
    linkA() {
            Inertia.get(route("asuransi_kesehatan"));
    },
    linkB() {
            Inertia.get(route("product.index"));
    }
}

};
</script>
