<template>

    <Head title="Dashboard" />

    <BreezeAuthenticatedLayout>
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                {{ product ? 'Update Product' : 'Submit Product' }}
            </h2>
        </template>

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="bg-white overflow-hidden shadow-sm sm:rounded-lg">
                    <div class="p-6 bg-white border-b border-gray-200">
                        <FormProduct :formChild="form" :productChild="product"></FormProduct>
                    </div>
                </div>
            </div>
        </div>
    </BreezeAuthenticatedLayout>
</template>

<script>
import BreezeAuthenticatedLayout from "@/Layouts/Authenticated.vue";
import { Head } from "@inertiajs/inertia-vue3";
import { Inertia } from "@inertiajs/inertia";
import FormProduct from "../Components/Product/Form.vue";
export default {
    components: { BreezeAuthenticatedLayout, Head, FormProduct },

    props: {
        form: Object, product: Object,
    },

    data() {
        return {

            form: {
                name: this.product ?.name, //this.product ?.name  = tanda tanya berfungsi untuk membuat kondisi jika product ada atau tidak.
                description: this.product ?.description,
                price: this.product ?.price,
                quantity: this.product ?.quantity,
                admin_fee: this.product ?.admin_fee,
            }
        };
    },

};
</script>
