@tailwind base;
@tailwind components;
@tailwind utilities;

.primary-button {
    @apply hover:bg-blue-400
  items-center
  rounded-md
  bg-blue-500
  text-white text-sm
  font-medium
  px-2
  py-1
  shadow-sm;
}

.input-form {
    @apply bg-gray-200 disabled:bg-red-100 bg-opacity-50 shadow-inner px-2 py-1 rounded;
}

.input-custom {
    @apply rounded
    bg-gray-100
    border-none
    px-2
    py-1
    shadow-inner
    bg-opacity-80
    required:bg-blue-100;
}
