<template>
    <button :type="type" class="px-3 py-2 bg-red-500 text-white rounded h-9 hover:bg-red-700">
        <slot></slot>
    </button>
</template>
<script>
export default {
    props: {
        type : {
            type: String,
            default: "button"
        }
    }
}
</script>